.section {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-wrapper {
    color: rgb(255, 255, 255);
  background: #2d2d2d;
  padding: 12px;
  display: inline-block;
}


h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

button {
 border-radius: 15px;
  padding: 10px 15px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  transition: ease-in-out background-color 250ms, ease-in-out color 250ms;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}